<!--<ul class="nav navbar-nav pull-right">
        <li><button id='logout' ng-show="logoutV" class="nav-button" ng-click='vm.logout()' translate="SING OUT"></button></li>
        <li><button id='acceder' ng-show="accederV" class="nav-button" ng-click="vm.showModalSignup()" translate="SING IN"></button></li>
        <li><a id='profile' ng-show="profileV" href='/profile' class="profile" translate="WELCOME"> </a></li>
        <li><img src="{{avatar}}" /></li>
</ul>-->
<ul class="nav navbar-nav navbar-left">
        <li><a ng-show="accederV" ng-click="vm.showLogin()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
<ul class="social-login nav navbar-nav navbar-right">
        <li>
                <a href="# "><i class="fa fa-facebook " aria-hidden="true "></i></a>
        </li>
        <li>
                <a href="# "><i class="fa fa-twitter " aria-hidden="true "></i></a>
        </li>
        <li>
                <a href="# "><i class="fa fa-google-plus " aria-hidden="true "></i></a>
        </li>
</ul>