@import "var";

/*Stilo de la barra de navegación principal*/

#navbar-main {
    nav {
        background-color: #0a1923;
        border-color: #0a1923;
        color: #42B574;
        .navbar-top {
            border-bottom: 0.5px solid grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 9px;
            padding-bottom: 9px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 25px;
            padding-right: 25px;
            .social-login {
                padding: 0px;
                margin: 0px;
                i {
                    color: #42B574 !important;
                }
            }
            .login {
                a {
                    color: #42B574 !important;
                }
            }
        }
        .navbar-panel {
            .logo {
                width: 165px;
                height: 35px;
                padding-left: 10px;
            }
            .navbar-nav {
                .active {
                    a {
                        background-color: transparent;
                    }
                    a:after {
                        border-bottom: 2px solid #42B574;
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 25%;
                        width: 50%;
                    }
                }
                li {
                    padding-top: 8px;
                    padding-bottom: 14px;
                    a {
                        padding-bottom: 6px;
                        color: white;
                    }
                }
            }
        }
    }
}


/*stylo del footer*/

#footer {
    font-family: $font-stack;
    color: $secundary;
    background-color: $primary;
    padding: 20px;
    border-top: 2px solid black;
}