@import "var";

/*Stilo de la barra de navegación principal*/

#navbar-main {
    nav {
        background-color: #0a1923;
        border-color: #0a1923;
        .navbar-top {
            border-bottom: 0.5px solid grey;
            padding-top: 9px;
            padding-bottom: 9px;
            .social-login {
                padding: 0px;
                margin: 0px;
                i {
                    color: #42B574 !important;
                }
            }
            .login {
                a {
                    color: #42B574 !important;
                }
            }
        }
        .navbar-panel {
            .logo {
                width: 165px;
                height: 35px;
            }
            .navbar-nav {
                .active {
                    a {
                        background-color: transparent;
                    }
                    a:after {
                        border-bottom: 2px solid #42B574;
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 25%;
                        width: 50%;
                    }
                }
                li {
                    padding-top: 8px;
                    padding-bottom: 14px;
                    a {
                        padding-bottom: 6px;
                        color: white;
                    }
                }
            }
        }
    }
}

#footer {
    background-color: #0a1923;
    padding: 5px 0px;
    .copyright {
        color: #42B574;
        border-top: 1px solid grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social-login {
            padding: 10px;
            margin: 0px;
            text-align: right;
            i {
                color: #42B574 !important;
            }
        }
        .text {
            padding-top: 10px !important;
        }
    }
}


/*Responsive*/

@include for-size(phone) {}

@include for-size(tablet) {}