@import "var";
#home {
    .image-wrapper {
        background: url(../images/salad.jpg) no-repeat;
        background-size: cover;
        position: relative;
        display: table;
        width: 100%;
        height: 100vh;
        .image-content {
            margin-top: 10%;
            .info-text {
                padding: 0px 80px;
                color: white;
                text-shadow: 2px 1px 3px #000;
                h1 {
                    font-weight: bold;
                }
            }
            .card-search {
                font-weight: bold;
                padding: 20px 55px;
                color: white;
                background-color: rgba(10, 25, 35, 0.7);
                .btn {
                    background-color: #42B574;
                    border-color: #42B574;
                }
            }
        }
    }
    .home-content {
        .last-menus {
            padding: 40px 0px 20px 0px;
        }
        .last-menus,
        .best-menus {
            hr {
                border-bottom: 2px solid #42B574;
                width: 100%;
            }
            .slick-container {
                width: auto;
                margin: auto;
                padding: 15px;
                .slick-item {
                    width: 300px;
                    article {
                        .image {
                            img {
                                max-width: 280px;
                                height: 200px;
                                margin: 10px;
                            }
                        }
                        .info {
                            h3 {
                                margin-top: 10px;
                                padding-left: 14px;
                            }
                            ul {
                                list-style: none;
                                padding: 0px;
                            }
                        }
                        .btn {
                            background-color: #42B574;
                            border-color: #42B574;
                            margin-left: 14px;
                        }
                    }
                }
            }
        }
        .last-post {
            padding: 20px 0px 40px 0px;
            hr {
                border-bottom: 2px solid #42B574;
                width: 100%;
            }
            .slick-container {
                width: auto;
                margin: auto;
                padding: 15px;
                .slick-item {
                    width: 300px;
                    article {
                        .image {
                            max-width: 250px;
                            height: 180px;
                        }
                        .btn {
                            background-color: #42B574;
                            border-color: #42B574;
                        }
                    }
                }
            }
        }
    }
}


/*Responsive*/

@include for-size(phone) {}

@include for-size(tablet) {}